<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <br><br>
    <div>
        <label>Name: </label>
        <h2>{{info.name}}</h2>
    </div>
    <br><br>
    <div>
        <label>Dojo Location: </label>
        <h2>{{info.location}}</h2>
    </div>
    <br><br>
    <div>
        <label>Favorite Language: </label>
        <h2>{{info.alnguage}}</h2>
    </div>
    <br><br>
    <div>
        <label>Comment: </label>
        <h2>{{info.comment}}</h2>
    </div>
    <br><br>
    <a href="/">Home</a>
</body>
</html>